.demo-settings {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  pointer-events: auto;

  max-height: calc(100% - 10px);
  overflow: auto;
  scrollbar-width: thin;
}

.demo-settings-icon-wrapper {
  text-align: left;
}

@media only screen and (max-width: 630px) {
  .demo-settings {
    transform: scale(0.5) translateX(-50%) translateY(-50%);
  }
}
