* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  color: white;
  font-family: Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;

}
