* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  // color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;

}

.full-size {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-icon {
  font-size: 30px;
  width: 30px !important;
  height: 30px !important;
  color: gray;
  cursor: pointer;
  user-select: none;
  transition: all 200ms;

  &:hover {
    color: lightgray;
  }
  &:active {
    color: white;
  }
}

mat-expansion-panel:not(:last-child) {
  margin-bottom: 3px;
}
