:host {
  border-radius: 5px;
  border: 1px solid black;

  background: rgba(0, 0, 0, 0.5);
  padding: 5px;

  width: 410px;

  display: grid;
  grid-template-columns: 2fr 3fr 2fr 3fr;
  grid-auto-rows: 32px;
  align-items: center;

  color: white;
  font-family: Verdana, sans-serif;

}

.span-2 {
  grid-column: span 2;
}
