.main-settings {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  pointer-events: auto;
}

.main-settings-icon-wrapper {
  text-align: right;
}

.main-info-table {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-auto-rows: 24px;
}

.more-less-perf {
  color: blue;
  cursor: pointer;
  user-select: none;
}

@media only screen and (max-width: 630px) {
  .main-settings {
    transform: scale(0.5) translateX(50%) translateY(-50%);
  }
}
